controller_manager:
  ros__parameters:
    update_rate: 100  # Hz
    use_sim_time: true
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    ridgeback_velocity_controller:
      type: diff_drive_controller/DiffDriveController
ridgeback_velocity_controller:
  ros__parameters:
      left_wheel_names: ["front_left_wheel", "rear_left_wheel"]
      right_wheel_names: ["front_right_wheel", "rear_right_wheel"]
      wheel_separation: 0.638
      wheel_radius: 0.551
      publish_rate: 50.0
      base_frame_id: base_link
      use_stamped_vel: true
      velocity_rolling_window_size: 10
      open_loop: true
      enable_odom_tf: false
      cmd_vel_timeout: 0.25